.lbl-principal
{
    color: white;
    font-size: 30px;
}

.cl-menu 
{
    background-color: #E98A37 !important;
}

#cl-footer
{
	background-color: white !important;
}

.tr-table 
{
    background-color: #FF4000 !important;
}
